input[type=text] {
			width:30%;
			border: 1px,solid,black;
			margin-top: 10px;
			margin-bottom: 15px;
			padding: 11px 21px;
		}
		input[type=submit]{
			padding: 7px 20px;
			border-radius: 3px;
			border: none;
		}
		#ph{
			width: 20px;
		}
		#phone{
			width: 25%;
		}